<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if isAuth}}
            <li class="nav-item">
                <a class="nav-link" href="/list">Zip Codes</a>
            </li>
            {{#if locations}}
            <li class="nav-item">
                <a class="nav-link" href="/summary">Covid-19 Summary Results</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Covid-19 Detailed Results
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#each locations}}
                    <a class="dropdown-item" href="/details/{{this.zip_code}}">
                        {{#if this.alias}}
                        {{this.alias}}
                        {{else}}
                        {{this.default_city}}, {{this.state_abbr}} {{this.zip_code}}
                        {{/if}}
                    </a>
                    {{/each}}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
            {{/if}}
            {{else}}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>