<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <div width="100%" height="225" class="bd-placeholder-img card-img-top">
            {/* */}
            <div id={`myCarousel${zipcode}`} class="carousel slide" data-ride="carousel" style={{ marginBottom: 0 }}>
                <ol class="carousel-indicators">
                    <li style={{ backgroundColor: "#007bff" }} data-target={`#myCarousel${zipcode}`} data-slide-to="0"
                        class="active"></li>
                    <li id={`listItemMap${zipcode}`} style={{ backgroundColor: "#007bff" }}
                        data-target={`#myCarousel${zipcode}`} data-slide-to="1"></li>
                    <li style={{ backgroundColor: "#007bff" }} data-target={`#myCarousel${zipcode}`} data-slide-to="2">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <Chart data={nytData} />
                        {/*<div class="container">
                            <div class="carousel-caption text-left">
                                <h1>Example headline.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                    porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                            </div>
                        </div>*/}
                    </div>
                    <div class="carousel-item">
                        {typeof window !== 'undefined' &&
                        <LeafletMap position={[item.latitude, item.longitude]} zoom={9} markers={markers}
                            key={keyMap} />
                        }
                        <p style={{ textAlign: "center", marginTop: "1rem" }}>Covid-19 Testing Locations</p>
                        {/* <div class="container">
                            <div class="carousel-caption text-center">
                                <p>Covid-19 Testing Locations</p>
                            </div>
                        </div> */}
                    </div>

                    <div class="carousel-item">
                        <img class="third-slide"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="Third slide" />
                        <div class="container">
                            <div class="carousel-caption">
                                <p>{geoState} Department of Health</p>
                                <ul>
                                    <li><a class="covid19-links" href={covid19Site}>Covid19 Site</a></li>
                                    <li><a class="covid19-links" href={covid19SiteSecondary}>Covid19 Secondary
                                            Site</a></li>
                                    {twitter.startsWith('@') && <li><a class="covid19-links"
                                            href={`https://twitter.com/${twitter.slice(1)}`}>
                                            <FontAwesomeIcon icon={faTwitter} aria-label="go to twitter" /></a></li>}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-text">{zipcode}</h5>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button class="btn btn-sm btn-secondary" onClick={event=> {
                        event.preventDefault();
                        const updatedItem = { ...item, county_info: nytData, markers: markers, hereData: hereData };
                        navigate(
                        `/details/${zipcode}`,
                        {
                        state: { updatedItem: updatedItem },
                        }
                        )
                        }}>View details</button>
                </div>
                <small class="text-muted">{lastUpdated}</small>
            </div>
        </div>
    </div>