{{>navbar}}
<div class="container">
    <main role="main">
        <h1 style="margin-top: 20px; text-align: right;">
            {{#if location.alias}}
            {{location.alias}}
            {{else}}
            {{location.default_city}}, {{location.state_abbr}} {{location.zip_code}}
            {{/if}}
        </h1>
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            Local Covid-19 Information
        </h3>
        <div class="row featurette">
            <div class="col-md-4">
                {{#if location.localCovidData}}
                <p style="text-align: center;"><strong>
                        Covid-19 Positives</strong>
                </p>
                {{{graphics location.localCovidData "positiveCt"}}}
                <p>Source: <span style="font-weight: 500;"><em>The New York Times</em></span> via <a
                        href="https://anypoint.mulesoft.com/exchange/portals/mulesoft-2778/5a0bd415-9488-4e33-88d6-ba31cbef5957/contact-tracing-exp-api/">COVID-19
                        Data Tracking API</a></p>

                {{else}}
                <div class="carousel-container" style=" background-color: lightblue;">
                    <p style="text-align: center;">No local Covid-19 data availabe</p>
                </div>
                {{/if}}
            </div>
            <div class="col-md-4">
                {{#if location.localCovidData}}
                <p style="text-align: center;"><strong>
                        Covid-19 Deaths</strong>
                </p>
                {{{graphics location.localCovidData "deathCt"}}}
                <p>Source: <span style="font-weight: 500;"><em>The New York Times</em></span> via <a
                        href="https://anypoint.mulesoft.com/exchange/portals/mulesoft-2778/5a0bd415-9488-4e33-88d6-ba31cbef5957/contact-tracing-exp-api/">COVID-19
                        Data Tracking API</a></p>

                {{else}}
                <div class="carousel-container" style=" background-color: lightblue;">
                    <p style="text-align: center;">No local Covid-19 data availabe</p>
                </div>
                {{/if}}
            </div>
            <div class="col-md-4 ">
                <div class="card mb-4 box-shadow">
                    <div id="map{{location.zip_code}}" className="card-img-top">
                    </div>
                    <div class="card-body">
                        <p>Source: <a href="https://developer.here.com/blog/finding-covid-19-testing-sites">HERE
                                Geocoding and Search API</a></p>
                        <p data-toggle="collapse" data-target="#divLocations">
                            <i class="fa fw fa-info-circle bootstrap-primary"
                                aria-label="Covid-19 Testing Locations Information"></i>
                            Covid-19 Testing Locations</p>
                        <div class="accordian-body collapse" id="divLocations">
                            <ul class="list-group list-group-flush">
                                {{#each location.hereData}}
                                <li className="list-group-item">
                                    <address>
                                        {{this.markerText}}<br />
                                        {{#if this.address.houseNumber}}
                                        {{this.address.houseNumber}} {{this.address.street}}<br />
                                        {{else}}
                                        {{this.address.street}}<br />
                                        {{/if}}
                                        {{this.address.city}}, {{this.address.stateCode}}
                                        {{this.address.postalCode}}<br />
                                        <a href="tel:{{this.phone}}">{{this.formatPhone}}</a>
                                    </address>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="pb-3 mb-4 font-italic border-bottom" style="display: flex;">
            State Covid-19 Information <span style="font-size: 16px;">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="border: none; padding: 0 12px; margin-top: 12px;"><a
                            href={{location.statesInfo.covid19Site}}>{{data.state}} Department of Health Covid-19
                            Site</a></li>
                    <li class="list-group-item" style="border: none; padding: 0 12px; margin-top: 12px;"><a
                            href={{location.statesInfo.covid19SiteSecondary}}>Covid-19
                            Secondary
                            Site</a></li>
                    {{{getTwitter2 location.statesInfo.twitter}}}
                </ul>
            </span>
        </h3>
        <div class="row featurette">
            <div class="col-md-4">
                {{{graphics data.series "positive"}}}
                <p style="text-align: center;">Source: <a href="https://covidtracking.com/">The COVID
                        Tracking
                        Project</a></p>
            </div>
            <div class="col-md-4">
                {{{graphics data.series "death"}}}
                <p style="text-align: center;">Source: <a href="https://covidtracking.com/">The COVID
                        Tracking
                        Project</a></p>
            </div>
            <div class="col-md-4">
                <h4>Current {{data.state}} Numbers<span style="float: right; font-size: .8rem">Last update:
                        {{data.lastUpdateET}}</span>
                </h4>
                {{>table data=data}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </main>
</div>
{{#section 'script'}}
{{{leafletjs (singleleafletjs location)}}}
{{/section}}