{{>navbar}}
<div class="container">
    <main role="main">
        <h1>
            {{#if location.alias}}
            {{location.alias}}
            {{else}}
            {{location.default_city}}, {{location.state_abbr}} {{location.zip_code}}
            {{/if}}
        </h1>
        <div class="row featurette">
            <div class="col-md-4">
                {{#if location.localCovidData}}
                {{{graphics location.localCovidData "positiveCt"}}}
                <p style="text-align: center;"><strong>
                        Covid-19 Positives</strong>
                </p>
                <p>Source: <span style="font-weight: 500;"><em>The New York Times</em></span> via <a
                        href="https://anypoint.mulesoft.com/exchange/portals/mulesoft-2778/5a0bd415-9488-4e33-88d6-ba31cbef5957/contact-tracing-exp-api/">COVID-19
                        Data Tracking API</a></p>

                {{else}}
                <p style="text-align: center;">No local Covid-19 data availabe</p>
                {{/if}}
            </div>
            <div class="col-md-4">
                {{#if location.localCovidData}}
                {{{graphics location.localCovidData "deathCt"}}}
                <p style="text-align: center;"><strong>
                        Covid-19 Deaths</strong>
                </p>
                <p>Source: <span style="font-weight: 500;"><em>The New York Times</em></span> via <a
                        href="https://anypoint.mulesoft.com/exchange/portals/mulesoft-2778/5a0bd415-9488-4e33-88d6-ba31cbef5957/contact-tracing-exp-api/">COVID-19
                        Data Tracking API</a></p>

                {{else}}
                <p style="text-align: center;">No local Covid-19 data availabe</p>
                {{/if}}
            </div>
            <div class="col-md-4 ">
                <div class="card mb-4 box-shadow">
                    <div id="map{{location.zip_code}}" className="card-img-top">
                    </div>
                    <div class="card-body">
                        <p>Source: <a href="https://developer.here.com/blog/finding-covid-19-testing-sites">HERE
                                Geocoding and Search API</a></p>
                        <p data-toggle="collapse" data-target="#divLocations">
                            <i class="fa fw fa-info-circle bootstrap-primary"
                                aria-label="Covid-19 Testing Locations Information"></i>
                            Covid-19 Testing Locations</p>
                        <div class="accordian-body collapse" id="divLocations">
                            <ul class="list-group list-group-flush">
                                {{#each location.hereData}}
                                <li className="list-group-item">
                                    <address>
                                        {{this.markerText}}<br />
                                        {{#if this.address.houseNumber}}
                                        {{this.address.houseNumber}} {{this.address.street}}<br />
                                        {{else}}
                                        {{this.address.street}}<br />
                                        {{/if}}
                                        {{this.address.city}}, {{this.address.stateCode}}
                                        {{this.address.postalCode}}<br />
                                        <a href="tel:{{this.phone}}">{{this.formatPhone}}</a>
                                    </address>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-4">
                {{{graphics data.series "positive"}}}
                <p style="text-align: center;">Source: <a href="https://covidtracking.com/">The COVID Tracking
                        Project</a></p>
            </div>
            <div class="col-md-4">
                {{{graphics data.series "death"}}}
                <p style="text-align: center;">Source: <a href="https://covidtracking.com/">The COVID Tracking
                        Project</a></p>
            </div>
            <div class="col-md-4">
                <h4>Current {{data.state}} Numbers<span style="float: right; font-size: .8rem">Last update:
                        {{data.lastUpdateET}}</span>
                </h4>
                {{>table data=data}}
            </div>
            <div class="col-md-4">
                {{!-- {allDays.length === 0 &&
                <h5 style={{ textAlign: "center", paddingTop: "200px" }}>No data available</h5>
                }
                {(allDays.length > 0) &&
                <>
                    <Chart series={allDays} seriesNames={[{ "name" : `Positives` }]} xValue="date" yValue="positive" />
                    <p>Source: <a href="https://covidtracking.com/">The COVID Tracking Project</a></p>
                </>
                } --}}
            </div>
            <div class="col-md-4">
                {{!-- {allDays.length === 0 &&
                <h5 style={{ textAlign: "center", paddingTop: "200px" }}>No data available</h5>
                }
                {(allDays.length > 0) &&
                <>
                    <Chart series={allDays} seriesNames={[{ "name" : `Deaths` }]} xValue="date" yValue="death" />
                    <p>Source: <a href="https://covidtracking.com/">The COVID Tracking Project</a></p>
                </>
                } --}}
            </div>
            <div class="col-md-4">
                {{!-- {(stateCurrent && Object.keys(stateCurrent).length !== 0) &&
                <>
                    <h4>Current {geoState} Numbers<span style={{ float: "right", fontSize: ".8rem" }}>Last update:
                            {lastUpdateEt}</span></h4>
                    <div class="table-responsive">
                        <Table currentValues={stateCurrent} caption={`The most recent COVID data for ${geoState}. The
                            current value may be different than today.`} />
                    </div>
                    <p>{geoState} Department of Health</p>
                    <ul>
                        <li><a href={state_info.covid19Site}>Covid-19 Site</a></li>
                        <li><a href={state_info.covid19SiteSecondary}>Covid-19 Secondary Site</a></li>
                        {state_info.twitter.startsWith('@') && <li><a
                                href={`https://twitter.com/${state_info.twitter.slice(1)}`}>
                                <FontAwesomeIcon icon={faTwitter} aria-label="go to twitter" /></a></li>}
                    </ul>
                    <p>Source: <a href="https://covidtracking.com/">The COVID Tracking Project</a></p>
                </>
                } --}}
            </div>
        </div>
    </main>
</div>
{{#section 'script'}}
{{{leafletjs (singleleafletjs location)}}}
{{/section}}